/* 1070px */
@media (max-width: 67em) {
    /* html {
        9px / 16px 
        font-size: 56.25%;
    } */
    /*******************
         HEADER SECTION
    ********************/
    .header-title .container {
        width: 90%;
    }
    .gnb {
        display: none;
    }
    .sm-nav {
        display: none;
    }
    .menu {
        display: block;
        position: absolute;
        top: 3%;
        right: 0;
        width: 6.5rem;
        height: 6.5rem;
    }
    .menu span {
        display: block;
        width: 3rem;
        height: 0.2rem;
        background: #4c4948;
        margin: 0.5rem auto;
    }
    .mobile-gnb {
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        overflow-y: scroll;
        box-shadow: -4px -1px 2px rgba(0, 0, 0, 0.1);
        z-index: 100;
        background: #fff;
    }
    .dark {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99;
    }
    .mobile-gnb h2 {
        padding: 1.2rem 2rem 1rem;
        background: #005bac;
        height: 6.1rem;
    }
    .mobile-gnb h2 img {
        width: 18rem;
    }
    .mobile-depth {
        padding: 2rem 1rem;
    }
    .mobile-gnb .mobile-depth > li > a {
        display: block;
        padding: 1.5rem 1rem;
        font-size: 1.8rem;
        font-weight: 700;
    }
    .mobile-gnb .mobile-depth > li > ul {
        margin-bottom: 3rem;
        border-top: 1px solid #b2b2b2;
    }
    .mobile-gnb .mobile-depth > li > ul > li > a {
        display: block;
        padding: 1.5rem 1rem;
        border-bottom: 1px solid #e5e5e5;
        font-size: 1.5rem;
    }
    .mobile-util {
        margin-top: 2rem;
        text-align: center;
    }
    .mobile-util > li {
        display: inline-block;
        width: 40%;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        font-size: 1.2rem;
        text-align: center;
    }
    .mobile-util > li > a {
        display: block;
        padding: 7px 0;
    }
    .m-close {
        background: url(../img/closeW.png) no-repeat center/ 1.7rem auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 5.5rem;
        height: 6.1rem;
    }

    .nav-open .mobile-gnb {
        display: block;
    }
    .nav-open .dark {
        display: block;
    }

    /*******************
        INTRODUCE SECTION
    ********************/
    .hero-moving-btn {
        display: none;
    }
    .hero-section .container {
        width: 90%;
    }
    .hero-img3 .img2 {
        width: 29.4rem;
        top: 132px;
        right: 66px;
    }
    .hero-img3 .img3 {
        width: auto;
    }
    .hero-title {
        font-size: 3.2rem;
    }
    .hero-sub-title {
        font-size: 1.6rem;
    }
    .gift {
        font-size: 1.3rem;
    }

    /*******************
         QUICK SECTION
    ********************/
    .quick-menu-section .container {
        flex-wrap: wrap;
        gap: 0;
        max-width: 107rem;
    }
    .quick-box {
        padding: 2rem;
        width: 50%;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
    }

    .quick-desc br {
        display: none;
    }

    .quick-box::after {
        display: none;
    }
    /*******************
        PDT SECTION
    ********************/
    .pdt-section {
        margin-bottom: 3.5rem;
        padding-bottom: 11%;
    }

    .pdt-section .container {
        width: 90%;
    }
    .pdt-title {
        font-size: 2.3rem;
    }
    .pdt-title-wrap {
        margin: 0;
    }
    .pdt-title-wrap p {
        font-size: 1.3rem;
    }
    .pdt-img {
        position: static;
        width: 79%;
    }
    .transform-pdt {
        height: auto;
        position: relative;
        max-width: 100%;
    }

    .pdt-tr-li {
        position: static;
    }

    .pdt-content {
        position: static;
        width: 79%;
        padding: 2.5rem 4rem 3.5rem;
        margin-top: -0.3rem;
        display: inline-block;
    }
    .pdt-content h3 {
        font-size: 2rem;
    }
    .pdt-content br {
        display: none;
    }
    .pdt-content p:nth-child(2) {
        margin-bottom: 2.5rem;
    }
    .pdt-moving-btn .prev-btn {
        width: 4rem;
        height: 8rem;
        background: url(../img/mainEtnPdtCtrLBig.png) no-repeat center/25px auto;
        top: 54%;
        transform: translateX(0%);
    }
    .pdt-moving-btn .next-btn {
        width: 4rem;
        height: 8rem;
        background: url(../img/mainEtnPdtCtrRBig.png) no-repeat center/25px auto;
        top: 54%;
        transform: translateX(0%);
    }
    /*******************
        INTRODUCE SECTION
    ********************/
    .introduce-section .container {
        width: 90%;
    }
    .introduce-title-wrap h2 {
        font-size: 2.1rem;
        text-align: left;
    }
    .introduce-title-wrap p {
        display: none;
    }
    .introduce-cards {
        row-gap: 1rem;
    }
    .grey {
        grid-column: 1/-1;
        padding: 2rem;
        height: auto;
    }
    .grey h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .grey br {
        display: none;
    }
    .grey p {
        font-size: 1.4rem;
    }
    .grey .plus {
        display: none;
    }
    .card-icon1 {
        top: 35%;
        left: auto;
        right: 4.5%;
        background-size: 2.5rem 3.5rem;
        width: 2.5rem;
        height: 3.5rem;
    }
    .card-icon2 {
        top: 35%;
        left: auto;
        right: 4.5%;
        background-size: 2.5rem 3.5rem;
        width: 2.5rem;
        height: 3.5rem;
    }
    .card-icon3 {
        top: 35%;
        left: auto;
        right: 4.5%;
        background-size: 2.5rem 3.5rem;
        width: 2.5rem;
        height: 3.5rem;
    }
    .grey:last-child {
        margin-bottom: 3rem;
    }
    .sum {
        grid-column: 1/-1;
        padding: 0;
        border: 0;
        margin-bottom: 2rem;
    }
    .notice-title h3 {
        font-size: 2.1rem;
    }
    .notice-title {
        margin-top: 3rem;
        margin-bottom: 0;
        align-items: center;
    }
    .card-box-wrap {
        display: block;
    }
    .sum-desc br {
        display: none;
    }
    .card-date {
        position: static;
        margin-top: 2rem;
    }
    .card-box {
        height: auto;
        padding: 2rem;
        border-bottom: 1px solid #e5e5e5;
    }
    .card-box:first-child {
        border-right: 0;
        border-top: 2px solid #ccc;
    }
    .card-box:nth-child(2) {
        margin: 0;
    }
    .card {
        height: auto;
    }
    .sky {
        grid-column: 1/-1;
    }
    .sky h3 {
        font-size: 2.1rem;
    }
    .sky .present {
        display: block;
        margin: 0 auto;
        margin-top: 5.5rem;
    }
    /*******************
        INTRODUCE SECTION
    ********************/

    .footer .top {
        display: none;
    }
    .footer .container {
        width: 90%;
        align-items: center;
    }
    .company .container {
        flex-direction: column;
    }
    .mobile-fmenu {
        display: flex;
    }
    .company h2 {
        margin: 0;
    }
    .f-menu li a {
        font-size: 1.4rem;
    }
    .footer-p {
        text-align: center;
    }
    .company p {
        line-height: 1.6;
    }
}
/* 640px */
@media (max-width: 40em) {
    html {
        /* 9px / 16px  */
        font-size: 56.25%;
    }
    .hero-img3 .img2 {
        width: 25rem;
    }
}

/* 540px */
@media (max-width: 34em) {
    .hero-img3 .img2 {
        top: 162px;
        right: 16px;
    }
}
/* 460px */
@media (max-width: 29em) {
    .hero-img3 .img1 {
        top: 139px;
        right: -96px;
        width: 30rem;
    }
    .gift {
        display: none;
    }
    .hero-img3 .img2 {
        top: 165px;
        right: auto;
        left: 100px;
    }
    .hero-title {
        font-size: 2.8rem;
    }
    .quick-box {
        width: 100%;
        gap: 4rem;
        padding-left: 4rem;
    }
    .quick-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .quick-desc {
        font-size: 1.4rem;
        line-height: 1.6;
    }
}
