* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #333;
    overflow-x: hidden;
    font-size: 1.6rem;
    letter-spacing: -1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}
.topBtn {
    position: fixed;
    bottom: 258px;
    right: 50%;
    width: 6rem;
    height: 6rem;
    padding-top: 3rem;
    background: rgba(255, 255, 255, 0.7) url(../img/top.png) no-repeat center
        13px/15px auto;
    border-radius: 50%;
    border: 1px solid #ccc;
    z-index: 110;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    margin-right: -60rem;
    display: none;
    transition: all 0.3s;
}
.topBtn:hover {
    transform: scale(1.1);
}
.topBtn.show {
    display: block;
}
/*******************
    HEADER SECTION
********************/

.header {
    border-bottom: 1px solid #d9d9d9;
}

.header-title {
    padding: 2rem 0 2.5rem 0;
    border-bottom: 1px solid #d9d9d9;
}

.header-title .container {
    display: flex;
    justify-content: space-between;
}

.header-logo img {
    width: 23.4rem;
    height: 3.4rem;
}
.menu {
    display: none;
}

.sm-nav {
    display: flex;
    gap: 2rem;
    padding-top: 0.7rem;
}

.sm-nav li {
    font-size: 1.4rem;
    position: relative;
}

.sm-nav li:first-child::after {
    background: none;
}
.sm-nav li::after {
    content: "";
    position: absolute;
    top: 6%;
    left: -15%;
    width: 0.1rem;
    height: 1.1rem;
    background: #a4a4a4;
}

.sm-nav span {
    position: absolute;
    top: 6%;
    right: -35%;
    background: url(../img/move.png) no-repeat center center/ 1.2rem 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
}

.mobile-gnb {
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.dark {
    display: none;
}

.gnb {
    display: flex;
}

.gnb > li {
    flex-grow: 1;
    font-size: 1.7rem;
    text-align: center;
    padding: 1.7rem 0;
    font-weight: 700;
    border-left: 1px solid #d9d9d9;
    cursor: pointer;
    position: relative;
}

.gnb > li:hover > a {
    color: #005bac;
}
.gnb > li:hover {
    /* border-bottom: 1px solid #005bac; */
    box-shadow: 0px 8px 0 -2px #005bac;
}

.gnb > li:last-child {
    border-right: 1px solid #d9d9d9;
}
.gnb > li > ul {
    position: absolute;
    top: 53px;
    font-size: 1.4rem;
    font-weight: normal;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    display: none;
}
.gnb > li > ul::before {
    content: "";
    width: 1px;
    height: 300px;
    background: #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;
}
.gnb > li:last-child > ul::after {
    content: "";
    width: 1px;
    height: 300px;
    background: #d9d9d9;
    position: absolute;
    top: 0;
    right: 0;
}
.gnb > li > ul > li {
    margin-top: 1rem;
    padding: 1.4rem 0;
    font-size: 1.4rem;
}
.gnb > li > ul > li:hover > a {
    color: #005bac;
    text-decoration: underline;
}
.nav {
    position: relative;
}
.gnb_bg {
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    height: 0px;
    background: white;
    z-index: 2;
}

/*******************
    HERO SECTION
********************/

.hero-section {
    background: #4d5b78;
    height: 37.5rem;
    position: relative;
}
/* .hero-section .container {
    max-width: 100rem;
} */
.hero03 {
    color: #fff;
    position: relative;
    /* height: 37.5rem; */
}

.hero03-text-box {
    position: absolute;
    top: 55px;
    left: 0;
}
.hero-img-box {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-900px);
}

.hero-sub-title {
    font-size: 1.8rem;
}
.hero-title {
    font-size: 3.8rem;
    margin: 2rem 0 2.3rem;
    line-height: 1.4;
}
.gift {
    font-size: 1.4rem;
}

.hero-img3 .img1 {
    position: absolute;
    top: 0;
    right: -134px;
    width: 50.9rem;
}
.hero-img3 .img2 {
    position: absolute;
    top: 73px;
    right: 26px;
    width: 45rem;
}

/* .dots-position {
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translateX(-50%);
} */
/* .dots {
    display: flex;
    gap: 0.7rem;
    cursor: pointer;
} */

/* .dots .active {
    background: #fff;
} */

/* .dot {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
} */

/* .hero-moving-btn .prev-btn {
    position: absolute;
    top: 50%;
    transform: translate(350px, -50%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainVisualCtrL.png) no-repeat
        center center;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
} */

/* .hero-section:hover .prev-btn {
    opacity: 1;
} */
/* .hero-moving-btn .next-btn {
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translate(-90%, -50%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainVisualCtrR.png) no-repeat
        center center;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
} */
/* .hero-section:hover .next-btn {
    opacity: 1;
} */

/******************** swiper /********************

/* nav */

.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translate(350px, -50%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainVisualCtrL.png) no-repeat
        center center;
    width: 5.4rem !important;
    height: 5.4rem !important;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}
.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 18%;
    transform: translate(-350px, -50%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainVisualCtrR.png) no-repeat
        center center;
    width: 5.4rem !important;
    height: 5.4rem !important;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
}
.hero-section:hover .swiper-button-prev {
    opacity: 1;
}
.hero-section:hover .swiper-button-next {
    opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

/* pagination */
.swiper .swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 7%;
    /* transform: translateX(-50%); */
}
.swiper .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    background: transparent;
}
.swiper .swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px) !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 20px) !important;
}

/* pdt */
.swiper .swiper-wrapper {
    height: 29.9rem;
}
.pdt-moving-btn .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateX(-250%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainEtnPdtCtrL.gif) no-repeat
        center center;
    background-size: auto;
    width: 1.4rem;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.5s;
}
/*******************
    QUICK SECTION
********************/

.quick-menu-section .container {
    display: flex;
    gap: 1.3rem;
}

.quick-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
    flex-grow: 1;
    position: relative;
    cursor: pointer;
}

.quick-box:first-child::after {
    display: none;
}

.quick-box::after {
    content: "";
    width: 0.1rem;
    height: 5.4rem;
    background: #e1e1e1;
    position: absolute;
    top: 35%;
    left: -9%;
}

.quick-icon {
    display: block;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    transition: all 0.5s;
}
.quick-icon1 {
    background: rgba(128, 135, 153, 0.66) url(../img/quickW01.png) no-repeat
        center center/ auto 3rem;
}
.quick-icon2 {
    background: rgba(128, 135, 153, 0.66) url(../img/quick02.png) no-repeat
        center center/ auto 3rem;
}
.quick-icon3 {
    background: rgba(128, 135, 153, 0.66) url(../img/quick03.png) no-repeat
        center center/ auto 3rem;
}
.quick-icon4 {
    background: rgba(128, 135, 153, 0.66) url(../img/quickW04.png) no-repeat
        center center/ auto 3rem;
}

.quick-box:first-child:hover .quick-icon1 {
    background: #005bac url(../img/quickW01.png) no-repeat center center/ auto
        3rem;
}
.quick-box:nth-child(2):hover .quick-icon2 {
    background: #005bac url(../img/quick02.png) no-repeat center center/ auto
        3rem;
}
.quick-box:nth-child(3):hover .quick-icon3 {
    background: #005bac url(../img/quick03.png) no-repeat center center/ auto
        3rem;
}
.quick-box:nth-child(4):hover .quick-icon4 {
    background: #005bac url(../img/quickW04.png) no-repeat center center/ auto
        3rem;
}

.quick-title {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
.quick-desc {
    font-size: 1.3rem;
    line-height: 1.5;
}

/*******************
    PDT SECTION
********************/
.pdt-section {
    padding: 4.5rem 0 8rem;
    margin-bottom: 6.5rem;
    background: #f3f3f5;
    text-align: center;
}
.pdt-section .container {
    position: relative;
}
.pdt-title-wrap {
    margin-bottom: 6rem;
}

.pdt-title {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.pdt-title-wrap p {
    font-size: 1.5rem;
}

.transform-pdt {
    height: 29.9rem;
    padding-top: 2rem;
    position: relative;
}

.pdt-img {
    position: absolute;
    top: 0;
    left: 0;
}

.pdt-content {
    position: absolute;
    top: -20px;
    right: 0;
    width: 493px;
    padding: 40px 40px 25px;
    background: linear-gradient(to top right, #03afb9, #188cc7, #1070ba);
    color: #fff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pdt-content h3 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    font-weight: 800;
}
.pdt-content p {
    font-size: 1.3rem;
    line-height: 1.6;
}
.percent {
    font-size: 3.6rem;
    font-weight: 700;
    display: block;
}
.more {
    display: block;
    margin-top: 2rem;
    font-size: 1.3rem;
    padding: 0.5rem 0 1rem;
    background: url(../img/moreArr.png) no-repeat center bottom;
}

.dot-block {
    border: 1px solid #4c4948;
}

.pdt-section .dots-position {
    bottom: -8%;
}

.pdt-dot-active {
    background: #005bac;
    border: 1px solid #005bac;
}

/* .pdt-moving-btn .prev-btn {
    position: absolute;
    top: 50%;
    transform: translateX(-250%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainEtnPdtCtrL.gif) no-repeat
        center center;
    background-size: auto;
    width: 1.4rem;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.5s;
} */
.pdt-moving-btn .next-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(250%);
    background: rgba(0, 0, 0, 0.05) url(../img/mainEtnPdtCtrR.gif) no-repeat
        center center;
    background-size: auto;
    width: 1.4rem;
    height: 2.4rem;
    cursor: pointer;
    transition: all 0.5s;
}

/*******************
    INTRODUCE SECTION
********************/

.introduce-section {
    margin-bottom: 8rem;
}

.introduce-title-wrap {
    text-align: center;
    margin-bottom: 3rem;
}
.introduce-title-wrap h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.introduce-title-wrap p {
    font-size: 1.5rem;
}
.introduce-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.8rem;
    row-gap: 6rem;
}
.card {
    height: 32rem;
    padding: 4.5rem 3rem;
    border: 1px solid #d9d9d9;
    position: relative;
    transition: all 0.3s;
}

.grey {
    cursor: pointer;
    background: #f8fafc;
}
.sum {
    grid-column: 1/3;
}

.card h3 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
}
.card p {
    font-size: 1.3rem;
    line-height: 1.4;
}
.card-icon1 {
    position: absolute;
    top: 68%;
    left: 10%;
    background: url(../img/mainEtnInfo01B.png) no-repeat center center;
    background-size: auto;
    width: 4.9rem;
    height: 6.1rem;
}
.card-icon2 {
    position: absolute;
    top: 68%;
    left: 10%;
    background: url(../img/mainEtnInfo02B.png) no-repeat center center;
    background-size: auto;
    width: 6.7rem;
    height: 6.7rem;
}
.card-icon3 {
    position: absolute;
    top: 68%;
    left: 10%;
    background: url(../img/mainEtnInfo03B.png) no-repeat center center;
    background-size: auto;
    width: 6.7rem;
    height: 6.3rem;
}
.plus {
    position: absolute;
    background: url(../img/morePlusB.png) no-repeat center center/1.9rem auto;
    width: 4.6rem;
    height: 4.6rem;
    right: 10%;
    bottom: 9%;
    transition: all 0.3s;
}

.border-blue:hover {
    border: 1px solid #005bac;
}
.card:hover .plus {
    border: 1px solid #005bac;
    background: #005bac url(../img/morePlusW.png) no-repeat center center/1.9rem
        auto;
}

.notice-title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.notice-title h3 {
    font-size: 2.6rem;
    font-weight: 800;
}
.notice-plus {
    background: url(../img/morePlusB.png) no-repeat center center/1.9rem auto;
    width: 4.6rem;
    height: 4.6rem;
    cursor: pointer;
    transition: all 0.3s;
}
.notice-plus:hover {
    border: 1px solid #005bac;
    background: #005bac url(../img/morePlusW.png) no-repeat center center/1.9rem
        auto;
}
.p3 {
    padding: 3rem;
}

.sum-desc {
    font-weight: 700;
    line-height: 1.6;
    cursor: pointer;
}
.sum-desc:hover {
    text-decoration: underline;
}

.card-date {
    font-weight: normal;
    position: absolute;
    bottom: 10%;
    left: 1%;
    font-size: 1.4rem;
    cursor: pointer;
}

.card-box-wrap {
    display: flex;
    letter-spacing: -1px;
}

.card-box {
    flex-grow: 1;
    height: 20rem;
    padding-right: 2rem;
    position: relative;
}

.card-box:first-child {
    border-right: 1px solid #e5e5e5;
}
.card-box:nth-child(2) {
    margin-left: 2rem;
}

.sky {
    background: #c4daf1;
    cursor: pointer;
}
.present {
    margin-top: 5.5rem;
    display: inline-block;
}

/*******************
    FOOTER SECTION
********************/
.footer {
    padding-bottom: 8rem;
    background: #4c4948;
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-menu {
    display: flex;
    padding: 2rem 0;
    gap: 1rem;
}
.mobile-fmenu {
    display: none;
}
.f-menu li {
    position: relative;
}
.f-menu li:nth-child(2)::after {
    display: none;
}
.f-menu li::after {
    content: "";
    width: 0.1rem;
    height: 1rem;
    background: #838280;
    display: inline-block;
    top: 30%;
    right: 0;
    position: absolute;
}
.f-menu li:first-child {
    padding-right: 1.5rem;
}

.f-menu li a {
    color: #cdcdcd;
    font-size: 1.3rem;
}

.family {
    width: 18rem;
    padding: 1rem 1.5rem;
    border: 1px solid #a3a1a2;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.family ul.on {
    display: block;
}
.family ul {
    position: absolute;
    border: 1px solid #a3a1a2;
    bottom: 35px;
    left: 0;
    z-index: 100;
    display: none;
}
.family ul li a {
    display: block;
    width: 18rem;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
    border-bottom: 1px solid #a3a1a2;
}
.family ul li a:hover {
    color: #005bac;
}

.family-site {
    color: #a3a1a2;
}
.family span {
    background: url(../img/familyArr.gif) no-repeat center center;
    float: right;
    width: 12px;
    height: 8px;
    cursor: pointer;
}
.family span.rotate {
    transform: rotate(180deg);
}

.company {
    padding-top: 30px;
    border-top: 1px solid #6c6968;
    color: #9a9a9a;
}
.company .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.company h2 {
    margin: 0.5rem 4rem 0 0;
}
.company p {
    font-size: 1.3rem;
    line-height: 1.4;
}
